/* fonts */
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

td {
    height: 10px;
    width: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.navbar {
    display: block;
    height: 1rem;
    padding: 2rem 1rem;
    margin: 1rem;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    margin: 0 0.5rem;
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

.hangedman-div {
    margin: 20px;
    height: auto;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hangedman-center {
    border: solid;
    width: auto;
    height: auto;
    padding: 1%;
}

/* .hangedman-illustration {
    font-size: x-large;
} */

.pixel-filled {
    background-color: black;
}

.hidden-word {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 2rem;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyboard-top {
}

.keboard-middle {
}

.keyboard-bottom {
}

.key-row {
    margin: 7px;
}

.key {
    display: inline-block;
    width: 40px;
    margin: 3px;
    padding: 2px;
    background-color: #f5f5f5;
    border: solid 2px;
    border-radius: 20%;
    font-size: 2rem;
    text-align: center;
}

.key:hover {
    opacity: 0.7;
    cursor: grab;
    transition: 350ms;
}

.key-right {
    background-color: #7db96a;
}

.key-wrong {
    background-color: #ca3d3d;
}

.help {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.help-center {
    width: 50%;
}

.instruction-list {
    margin-left: 1rem;
}

.game-description {
}

.turn-instructions {
}

.copyright {
    font-size: 0.8rem;
}

.links a {
    display: block;
    color: #000;
}
/* Dark theme */
body.dark {
    color: #34d41b;
    background-color: #121212;
}

body.dark .pixel-filled {
    background-color: #34d41b;
}

body.dark .key {
    background-color: #212121;
}

body.dark .key-wrong {
    background-color: #cf6679;
}

body.dark .key-right {
    background-color: #3c8c3c;
}

@media (max-width: 550px) {
    .hidden-word {
        font-size: 1.2rem;
    }
    .key {
        font-size: 1.2rem;
        width: 26px;
        margin: 0;
    }
}
